@import "@/styles/variables.scss";

.navFloating {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  z-index: 5;

  &__items {
    display: flex;
    flex-direction: column;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin: 0;
    transform: translateX(100%);
/*    li {
      margin-bottom: 5px;
      a {
        display: block;
        padding: 5px;
        text-decoration: none;
        font-size: 3em;
        color: #333;
        transition: background-color 0.3s;

        !* &:hover {
           background-color: #ddd;
         }*!
      }
    }*/
  }
}

.actual {
  background-color: #b40000 !important;
}

