.aboutMe { //TODO: hacer que los elementos hijos esten centrados
  @media (min-width: 600px) { //$mq-sm
    justify-content: space-between;
  }
  @media (min-width: 900px) { //$mq-md

  }

  &__image {
    max-width: 100%;
    height: auto;
  }

  &__content {
    .title {
      font-size: 2.34rem;
      font-weight: 300;
    }

    .subtitle {
      font-size: 1.640625rem;
    }

    .title, .subtitle {
      text-transform: capitalize;
      margin-bottom: 0.5rem;
      font-weight: 300;
      line-height: 1.2;
    }

    .description {
      margin-bottom: 1rem;
      word-wrap: break-word;
      font-size: .9375rem;
      font-weight: 400;
      line-height: 1.5;
    }

    .button {
      color: var(--mui-palette-primary-contrastText);
      border-color: var(--mui-palette-primary-contrastText);

      :hover {
        text-decoration: none;
      }
    }
  }
}