.gallery_experiences {

}

.list_experiences {
  padding-left: 30px;

 
}

.experience {
  color: var(--mui-palette-text-secondary);
  margin-bottom: 20px;

  &__title {
    text-transform: capitalize;
    font-size: 1.640625rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
  }

  &__date {
    //color: var(--mui-palette-secondary-main);

  }

  &__description {

  }
}
