.gallery_experiences {

}

.list_experiences {
  @media (min-width: 600px) { //$mq-sm
    padding-left: 30px;

  }
  @media (min-width: 900px) { //$mq-md

  }
  list-style: none;
}

.experience {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 1rem;

  &__title {
    text-transform: capitalize;
    font-size: 1.640625rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    color: black;
  }

  &__date {
    //color: var(--mui-palette-secondary-main);

  }

  &__description {

  }
}
