.gallery_projects {


  &__button {
    margin: 0 auto;

    color: var(--mui-palette-text-primary);
    border-color: var(--mui-palette-text-primary);
  }
}

.project {
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: var(--mui-palette-text-secondary);


  &__title {
    text-transform: capitalize;
  }

  &__button {
    background-color: var(--mui-palette-secondary-main);
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

.incomplete {
  border: 10px solid red !important;
}