.gallery_projects {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  padding: 20px;

  &__title {

    text-align: center;
    font-weight: 300;
    line-height: 45px;
    font-size: 2.34rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }

  &__button {
    margin: 0 auto;

    color: var(--mui-palette-text-primary);
    border-color: var(--mui-palette-text-primary);
  }
}

.project {
  padding-bottom: 20px;
  color: var(--mui-palette-text-secondary);


  &__title {
    text-transform: capitalize;
  }

  &__button {
    background-color: var(--mui-palette-secondary-main);
  }
}

.incomplete {
  border: 10px solid red !important;
}