.section {
  //color: var(--mui-palette-text-secondary);
  color: black;
  padding: 20px;
  margin-bottom: 20px;

  &__title {
    font-size: 2.34375rem;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;

    &.alignCenter {
      text-align: center;

    }
  }

  &__content {
    margin: 0 auto;
  }

  &.withContrast {
    background-color: var(--mui-palette-primary-main);
    color: var(--mui-palette-text-primary);

    .section__title {
    }

    .section__content {

      // color: var(--mui-palette-text-primary);
    }

  }

}

