.wrapper {
  @media (min-width: 600px) { //$mq-sm
    justify-content: space-between;
  }
  @media (min-width: 900px) { //$mq-md

  }

  /*  .left_item, .right_item {
      width: 100%;
      transition: all 1s;
      margin-bottom: 20px;
    }*/

}
