.wrapper {

  .left_item, .right_item {
    width: 100%;
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;

  }

  .left_item {
    transform: translateX(-100%);
  }

  .right_item {

    transform: translateX(100%);

  }

}

