.gallery_skills {
}

.skill {
  width: 100%;

  &__title {
    font-size: 1.171875rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-align: left;
    text-transform: capitalize;
  }

  &__slider {
    padding: 0;
    margin-bottom: 20px;

    * {
      color: var(--mui-palette-secondary-main);
    }
  }
}
