
:root {
  $max-width: 1100px;
  $border-radius: 12px;
  --mq-xs: 0px;
  --mq-sm: 600px;
  --mq-md: 900px;
  --mq-lg: 1200px;
  --mq-xl: 15360px;
  $mq-xs: 0px;
  $mq-sm: 600px;
  $mq-md: 900px;
  $mq-lg: 1200px;
  $mq-xl: 15360px;
  $mq-xl: 15360px;
  /*  xs, extra-small: 0px
  sm, small: 600px
  md, medium: 900px
  lg, large: 1200px
  xl, extra-large: 1536px*/
}

/*$mq-xs: 0px;
$mq-sm: 600px;
$mq-md: 900px;
$mq-lg: 1200px;
$mq-xl: 15360px;
$mq-xl: 15360px;*/

/* SCSS RGB */
$cultured: rgba(248, 248, 248, 1);
$onyx: rgba(54, 59, 63, 1);
$spanish-gray: rgba(146, 148, 149, 1);
$azure: rgba(37, 129, 228, 1);
$french-sky-blue: rgba(142, 190, 242, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-right: linear-gradient(90deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-bottom: linear-gradient(180deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-left: linear-gradient(270deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-top-right: linear-gradient(45deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-bottom-right: linear-gradient(135deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-top-left: linear-gradient(225deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-bottom-left: linear-gradient(315deg, #f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);
$gradient-radial: radial-gradient(#f8f8f8ff, #363b3fff, #929495ff, #2581e4ff, #8ebef2ff);